<div class="container">
    <div class="header">
        <h2>Server Component starts here!!!!</h2>
        <p>Directives are the instructions to the DOM.</p>
    </div>
    <div class="section">
        <h4>String Interpolation</h4>
        <p [ngStyle] = "{backgroundColor: getColor()}"
            [ngClass] = "{offline: serverStatus === 'green'}">
        {{ 'Server' }} with Id {{ serverId }} is {{ serverStatus }}</p>
    </div>
    <div class="event">
        <h3>Property Binding on disabled Property</h3>
        <div>
            <button class = 'btn btn-primary'
            [disabled] = '!allowNewServer'>
                Add New Server
            </button>
        </div>
        <div>
            <button class = 'btn btn-success'
            (click) = 'onUpdateServer()'>
                 Event Binding
            </button>
            <!-- <p>{{ serverUpdationStatus }}</p> -->
            <p *ngIf="serverUpdated">
                server was updated and my server name is {{ serverName }}
            </p>
        </div>
        <div>
            <p>1 < 2</p>
            <p *ngIf="1 < 2">True</p>
        </div>
    </div>
    <div>
        <label> Server Name</label>
        <input 
            type="text" 
            class = "form-control"
            (input) = "onUpdateServerName($event)">
        <P>{{ serverName }}</P>
    </div>
    <div>
        <label> Server Name</label>
        <input 
            type="text" 
            class = "form-control"
            [(ngModel)] = "serverName">
        <P>{{ serverName }}</P>
    </div>
</div>
